h1 {
  color: blue;
}

p {
  font-size: 20px;
}

.border {
  border-width: 10px;
  border-color: black;
  border-style: solid;
  width: 100px;
  height: 100px;
}

.box {
  color: rgb(42, 42, 194);
}